<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>modifyBoard</title>
	</head>
	<body>
		<h1>modifyBoard</h1>
		
		<a href="/boardList">목록</a>
		<form th:action="@{/modifyBoard}" method="post">
			<table border="1" style="text-align: center;">
				<tr>
					<td>board_id</td>
					<td>
						<input type="text" name="boardId" th:value="${board.boardId}">
					</td>
				</tr>
				<tr>
					<td>board_title</td>
					<td>
						<input type="text" name="boardTitle" th:value="${board.boardTitle}">
					</td>
				</tr>
				<tr>
					<td>board_writer</td>
					<td>
						<input type="text" name="boardWriter" th:value="${board.boardWriter}">
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">입력</button></td>
				</tr>
			</table>
		</form>
	</body>
</html>